<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWYY9WCPWG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DWYY9WCPWG');
</script>


    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/plastic-bottle.svg" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="img/plastic-bottle.svg" alt="" />
        <h4>WaterMatters</h4>
      </div>

      <ul>
        <li><a href="/main">MAIN</a></li>
        <li><a href="/">CALCULATOR</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/friends">FRIENDS</a></li>
        <li>
          <a href="/contact"><s>CONTACT</s></a>
        </li>
      </ul>

      <div class="menu-btn">
        <div class="menu-btn__burger"></div>
      </div>
      <nav class="nav-bar">
        <ul class="container">
          <li><a href="/main">MAIN</a></li>
          <li><a href="/">CALCULATOR</a></li>
          <li><a href="/profile">PROFILE</a></li>
          <li><a href="/friends">FRIENDS</a></li>
          <li>
            <a href="/contact"><s>CONTACT</s></a>
          </li>
        </ul>

        <div class="splash"></div>
      </nav>
    </header>

    <main class="container" onclick="handleCopy()">
      <h1>info.watermatters@gmail.com</h1>

      <p>Click to copy</p>
    </main>

    <script src="js/nav.js"></script>
    <script src="js/contact.js"></script>
  </body>
</html>
