<!DOCTYPE html>
<html lang="en">
  <head>



 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWYY9WCPWG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DWYY9WCPWG');
</script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/plastic-bottle.svg" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/responsive/main.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <title>WaterMatters</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img class="white-svg" src="img/plastic-bottle.svg" alt="" />
        <h4>WaterMatters</h4>
      </div>

      <ul>
        <li>
          <a><s>MAIN</s></a>
        </li>
        <li><a href="/">CALCULATOR</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/friends">FRIENDS</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>

      <div class="menu-btn">
        <div class="menu-btn__burger"></div>
      </div>
      <nav class="nav-bar">
        <ul class="container">
          <li>
            <a><s>MAIN</s></a>
          </li>
          <li><a href="/">CALCULATOR</a></li>
          <li><a href="/profile">PROFILE</a></li>
          <li><a href="/friends">FRIENDS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>

        <div class="splash"></div>
      </nav>
    </header>
    <main>
      <section>
        <h1>Meet WaterMatters.</h1>
        <h4>
          The best water-footprint <br />
          calculator.
        </h4>

        <div class="button-box">
          <a class="container" href="/welcome"><h4>GET STARTED NOW</h4></a>
          <a class="container" href="#scroll-to"><h4>SEE MORE</h4></a>
        </div>
        <div class="phone-box">
          <img
            class="iphone"
            id="iphone-welcome"
            src="img/iphone-welcome.png"
            alt=""
          />
        </div>

        <div class="circle-shadow" id="one"></div>
        <div class="circle-shadow" id="two"></div>
        <div class="circle-shadow" id="three"></div>
      </section>
      <section id="scroll-to">
        <span>
          <span>
            <h1>What is water-footprint?</h1>
            <p>
              A water footprint shows the extent of water use in relation to
              consumption by people. The water footprint of an individual is
              defined as the total volume of
              <b class="bold">fresh water used to produce the goods</b> and
              services consumed by the individual him/herself. Water use is
              measured in water volume consumed (evaporated) and/or polluted per
              kilograms of a certain food produced. Thanks to this indicator you
              will be aware of the exact amount of water you are consuming with
              each and every meal you have, because remember:
              <b class="bold">awareness is the first step towards change!</b>
            </p>
          </span>
          <img
            class="iphone"
            id="iphone-calculator"
            src="img/iphone-calculator.png"
            alt=""
          />
        </span>
        <div class="connector"></div>
      </section>
      <section>
        <h1>Use WaterMatters</h1>
        <span>
          <div class="box">
            <h3>Record your daily meals</h3>
            <p>
              On the calculator page you can find the three main meals and
              different kind of food for each of them. Select the type of food
              you ate for each of them (pay attention: under the name of each
              foodstuff you can find the quantity equal to one portion in the
              calculator).
            </p>
            <div>
              <img class="iphone-mockup" src="img/iphone-mockup.svg" alt="" />
              <div class="container full-width food-box" id="one">
                <img src="img/food-box-1.svg" alt="" />
                <img src="img/food-box-2.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="box">
            <h3>View the impact of your meals</h3>
            <p>
              After pushing the calculate button you will see the exact
              water-footprint in litres of your meals. In order to better
              understand how much water was used to produce your food you can
              see below different panels showing the approximate quantity of
              other things that could have been made with the same amount of
              water.
            </p>
            <div>
              <img class="iphone-mockup" src="img/iphone-mockup.svg" alt="" />
              <div class="container full-width food-box" id="two">
                <img src="img/stats-card-1.svg" alt="" />
                <img src="img/stats-card-2.svg" alt="" />
                <img src="img/stats-card-3.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="box">
            <h3>Share your card with friends</h3>
            <p>
              On the profile page you will find your personal card with your QR
              code. Let other people scan your code to send them directly to
              your personal profile, so that they can add you to their friends
              on the app.
            </p>
            <div>
              <img class="iphone-mockup" src="img/iphone-mockup.svg" alt="" />
              <div class="container full-width food-box" id="three">
                <img src="img/profile-card-1.svg" alt="" />
                <img src="img/profile-card-2.svg" alt="" />
              </div>
            </div>
          </div>
        </span>
      </section>
      <section>
        <span>
          <h1>Understand data</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit
            amet ex nunc. Maecenas non dictum sapien. Duis eget velit
            condimentum, ornare mi sed, aliquam elit. Integer vel mauris
            eleifend, sagittis sapien ut, dapibus dolor. Donec malesuada
            imperdiet nibh eget ullamcorper. Vivamus volutpat, purus a
            ullamcorper dignissim, diam erat blandit diam, non venenatis metus
            odio sed urna. Aliquam erat volutpat.
          </p>
        </span>
        <img
          src="img/iphone-profile.svg"
          alt=""
          class="iphone"
          id="iphone-profile"
        />
      </section>
      <section>
        <div>
          <span>
            <h1>Watch your friends</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              sit amet ex nunc. Maecenas non dictum sapien. Duis eget velit
              condimentum, ornare mi sed, aliquam elit. Integer vel mauris
              eleifend, sagittis sapien ut, dapibus dolor
            </p>
          </span>
          <img src="img/friends-card.svg" alt="" id="friends-card" />
        </div>
      </section>
    </main>

    <footer></footer>
    <script src="js/nav.js"></script>
  </body>
</html>
