<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />


      <link rel="stylesheet" href="\public\css\responsive\main_desktop.css">
      <link rel="stylesheet" href="\public\css\default.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="content">
        <div class="header PADDING">
            <h1>Food Calculator</h1>
            <h3>Lorem</h3>
        </div>



        <div class="search-div PADDING">
            <img class="search-img"
            src="\public\img\search.svg">
            <form>
              
              <input type="text" value="Search for a food">
            </form>
        </div>



        <div class="select-meal PADDING">
            <div class="meal">
              <button class="meal-button breakfast">
                <div class="meal-img-box">
                  <img class="meal-img"
                  src="\public\img\breakfast.svg">
                </div>
      
                <h3 class="meal-name">
                  Breakfast
                </h3>
                
              </button> 
            </div>
            <div class="meal">
              <button class="meal-button lunch">
                <div class="meal-img-box">
                  <img class="meal-img"
                  src="\public\img\lunch.svg">
                </div>
      
                <h3 class="meal-name">
                  Lunch
                </h3>
                
              </button>
            </div>
            <div class="meal">
              <button class="meal-button dinner">
                <div class="meal-img-box">
                  <img class="meal-img"
                  src="\public\img\dinner.svg">
                </div>  
                <h3 class="meal-name">
                  Dinner
                </h3>
      
                
              </button>
            </div>
            
          </div>            
        </div>

        <div class="side-bar">
            <h3>ciao</h3>

        </div>
        <div class="main">

        </div>
    

        <script id="template-esempio" type="text/html">
          <button class="button-box">
            <div class="cibo-box">
            
              <div class="col form">
                <div class="fake-checkbox">
                  <div class="fake-checkbox-2"></div>
  
                </div>
              </div>
              <div class="col">
                <img
                  class="food-img" 
                  src="https://png.pngtree.com/png-clipart/20190828/ourmid/pngtree-cheese-pizza-png-image_1709797.jpg">
              </div>
              <div class="col info-food">
                <h1 class="food-name">
                  <span >{{name}}</span>
                </h1>
                <p class="food-description">
                  <span >{{description}} {{waterPrint}} {{meal}}</span>
                </p>
              </div>
            
            </
            </button>
          
        </script>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="\public\js\responsive\main_desktop.js" type="module"></script>
    </body>


</html>