<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Calculator</title>


    <link rel="stylesheet" href="css/main.css"> <!-- link to the main's css file-->
    <link rel="stylesheet" href="css/default.css"> <!-- general file where all the common propertries/colors are defined -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="nav-bar">
      <button>
        <img class="icon"
        src="/img/password-icon.svg">
      </button>
      <h3 class="user-name">Marco De Negri</h3>
      <button>
        <img class="icon"
        src="/img/password-icon.svg">
      </button>
    </div>
    <div class="header">
      <h1 class="title">Food Calculator</h1>
      <p class="sub-title">Lorem!</p>
    </div>

    <div class="search-div">
      <img class="search-img"
      src="\img\search.svg">
      <form>
        
        <input type="text" value="Search for a food">
      </form>
    </div>
    <div class="select-meal">
      <div class="meal">
        <button class="meal-button" onclick="change_background(this)">
          <div class="meal-img-box">
            <img class="meal-img"
            src="\img\breakfast.svg">
          </div>

          <h3 class="meal-name">
            Breakfast
          </h3>
          <img class="meal-arrow"
          src="\img\angle-circle-arrow-down.svg">
        </button> 
      </div>
      <div class="meal">
        <button class="meal-button">
          <div class="meal-img-box">
            <img class="meal-img"
            src="\img\lunch.svg">
          </div>

          <h3 class="meal-name">
            Lunch
          </h3>
          <img class="meal-arrow"
          src="\img\angle-circle-arrow-down.svg">
        </button>
      </div>
      <div class="meal">
        <button class="meal-button">
          <div class="meal-img-box">
            <img class="meal-img"
            src="\img\dinner.svg">
          </div>  
          <h3 class="meal-name">
            Dinner
          </h3>

          <img class="meal-arrow"
          src="\img\angle-circle-arrow-down.svg">
        
        </button>
      </div>
      
    </div>

    <div class="select-item">
      <h2>Select Item</h2>
      <button class="filter-button">
        <img class="icon"
        src="\img\show-pass-icon.svg">

      </button>
    </div>

    <div class="calculate">
      <button class="calculate-button">
      <img class="calculate-img"
      src="/img/calc.png">
    </button>
    </div>


    <div class="main">




      
    </div>

    

      <script id="template-esempio" type="text/html">
        <button class="button-box">
          <div class="cibo-box">
          
            <div class="col form">
              <div class="fake-checkbox">
                <div class="fake-checkbox-2"></div>

              </div>
            </div>
            <div class="col">
              <img
                class="food-img" 
                src="https://png.pngtree.com/png-clipart/20190828/ourmid/pngtree-cheese-pizza-png-image_1709797.jpg">
            </div>
            <div class="col info-food">
              <h1 class="food-name">
                <span >{{name}}</span>
              </h1>
              <p class="food-description">
                <span >{{description}} {{waterPrint}} {{meal}}</span>
              </p>
            </div>
          
          </
          </button>
        
      </script>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="/js/main.js" type="module"></script>

  </body>
</html>