<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="\public\css\responsive\main_desktop.css">
        <link rel="stylesheet" href="\public\css\default.css">
        
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class="main">
        <div class="header">
            <h1>Food Calculator</h1>
            <h3>Lorem</h3>
        </div>



        <div class="search-div PADDING">
            <img class="search-img"
            src="\public\img\search.svg">
            <form>
              
              <input type="text" value="Search for a food">
            </form>
        </div>



        <div class="select-meal PADDING">
            <div class="meal">
              <button class="meal-button breakfast">
                <div class="meal-img-box">
                  <img class="meal-img"
                  src="\public\img\breakfast.svg">
                </div>
      
                <h3 class="meal-name">
                  Breakfast
                </h3>
                
              </button> 
            </div>
            <div class="meal">
              <button class="meal-button lunch">
                <div class="meal-img-box">
                  <img class="meal-img"
                  src="\public\img\lunch.svg">
                </div>
      
                <h3 class="meal-name">
                  Lunch
                </h3>
                
              </button>
            </div>
            <div class="meal">
              <button class="meal-button dinner">
                <div class="meal-img-box">
                  <img class="meal-img"
                  src="\public\img\dinner.svg">
                </div>  
                <h3 class="meal-name">
                  Dinner
                </h3>
      
                
              </button>
            </div>
            
          </div>            
        </div>

        <div class="side-bar">
            <h3>ciao</h3>

        </div>

    <script src="\public\js\responsive\main_desktop.js"></script>
    </body>


</html>