<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWYY9WCPWG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DWYY9WCPWG');
</script>



    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/plastic-bottle.svg" />
    <link rel="stylesheet" href="css/access.css" />
    <link rel="stylesheet" href="css/responsive/welcome.css" />
    <link rel="stylesheet" href="css/default.css" />
    <title>WaterMatters</title>
  </head>
  <body>
    <div class="container" id="welcome-container">
      <div class="logo">
        <img src="img/plastic-bottle.svg" alt="logo" />
        <h1>WaterMatters</h1>
      </div>
      <div class="wrapper" id="welcome-btn-box">
        <div class="title-box">
          <div class="title"><h2>Welcome</h2></div>
          <div class="line"></div>
        </div>
        <div class="btn-box">
          <a href="/users/login" class="login btn"><span>Login</span></a>
          <a href="/users/register" class="register btn"
            ><span>Register</span></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
