@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* -- VARIABLES --*/
:root {
  --black: #242424;
  --white: #ffffff;
  --grey: #787878;
  --color3: #fbbc04;

  --font: "Lato", sans-serif;
}

body {
  font-family: var(--font);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

.white-svg {
  filter: invert(100%) sepia(41%) saturate(1606%) hue-rotate(161deg)
    brightness(126%) contrast(106%);
}
