html {
  margin: 0 0 0 0;

  margin-block-start: 0em;
  margin-block-end: 0em;
}

.titolo {
  font-size: 30px;
  font-weight: bold;

  position: absolute;
  width: 209px;
  height: 38px;
  left: 23px;
  top: 94px;

  margin-block-start: 0em;
  margin-block-end: 0em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  width: 375px;
  height: 78px;
  left: 0px;
  top: 0px;

  border-radius: 0px 0px 10px 10px;
}

.user-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;

  position: absolute;
  width: 93px;
  height: 13.82px;
  left: 141px;
  top: 44.43px;

  margin-block-start: 0em;
  margin-block-end: 0em;
}
.burger-menu-button {
  position: absolute;
  width: 22px;
  height: 17px;
  left: 23px;
  top: 43.44px;
}

.user-img-button {
  position: absolute;
  width: 31.4px;
  height: 31px;
  left: 330px;
  top: 36px;
}

.user-img {
  width: auto;
  height: auto;
}

.burger-img {
  width: auto;
  height: auto;
}

button {
  border: 0px solid black;
}

.lorem-header {
  font-size: 19px;
  line-height: 24px;

  position: absolute;
  width: 57px;
  height: 24px;
  left: 23px;
  top: 142px;
}

.search-img {
  position: absolute;
  width: 14px;
  height: 15px;
  left: 23px;
  top: 192px;
}

.search-bar {
  position: absolute;
  width: 278px;
  height: 15px;
  left: 37px;
  top: 192px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 100%;

  letter-spacing: 0.03em;
}

.meals {
  display: flex;
  flex-direction: row;
}

.breakfast {
  left: 60px;
}

.lunch {
  left: 154px;
}

.dinner {
  left: 248px;
}

.box-meal {
  background: #fdbd10;
  border-radius: 17px;

  position: absolute;
  width: 67px;
  height: 123px;

  top: 233px;

  text-align: center;
}

.meals h3 {
  font-weight: bold;
  font-size: 10px;
  line-height: 100%;

  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  left: 19.2%;
  right: 69.33%;

  top: 41.55%;
  bottom: 57.42%;

  text-align: center;
}

.box-img-meals {
  background-color: white;

  position: absolute;
  left: 14.93%;
  right: 14.93%;
  top: 6.5%;
  bottom: 55.9%;

  background: white;
  border-radius: 13px;
  z-index: 0;
}

.meal-img {
  height: 30px;
  width: 30px;
  
  margin: auto;
  
  

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  border-radius: 0px;

  z-index: 1;
}

.arrow-img {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 26px;
  top: 83px;

  transform: rotate(-90deg);
}

.filters {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  position: absolute;
  width: 100%;

  top: 389px;
}

.filter-img {
  width: 20px;

  position: relative;
  right: 12px;
}

.select-title {
  font-size: 15px;
  font-weight: 600;

  position: relative;
  left: 23px;

  width: 83px;
  height: 15px;
}

.main {
  margin-top: -20%;

  position: absolute;
  top: 500px;
  width: 99%;
}

.cibo-box {
  width: 98%;
  background-color: beige;
  border: 1px solid gray;
  margin-top: 1em;
}

.cibo-box {
  width: 98%;

  display: inline-grid;
  grid-gap: 0px;
  grid-auto-flow: column;
  grid-template-columns: 12% 30% 56%;
}

.food-img {
  width: 100px;
}

.food-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;

  position: relative;

  left: 10.34%;

  top: 17%;

  margin-block-start: 0;
  margin-block-end: 0;
}

.food-description {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;

  color: #c4c4c4;

  position: relative;

  left: 10.34%;
  right: 50%;
  top: 25%;

  margin-block-start: 0;
  margin-block-end: 0;
}

.info-food {
  width: 90%;
}

.form {
  margin: auto auto;
}

/*
CHECKBOX DESIGN TAKEN FROM
https://codepen.io/katheer/pen/jwwNZL
https://uicookies.com/css-checkbox/
input[type='checkbox']#checkbox-o+label {
  border: 1px solid white;
  background: transparent;
}
input[type='checkbox']#checkbox-o+label:before {
  content: '';
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin: auto;
  background: rgba(0, 0, 0, 0.5) url(http://katheermizal.info/works/working-with-checkbox/assets/images/tick-icon-white.png) no-repeat;
  background-position: center;
  background-size: 20px;
  @include transition(0s, ease, all);
}
input[type='checkbox']#checkbox-o:checked+label:before {
  opacity: 1;
  z-index: 1;
}
*/
