.rotate-card {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.front,
.back {
  position: absolute;
  -webkit-backface-visibility: visible; /* Safari */
  backface-visibility: hidden;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back {
  transform: perspective(600px) rotateY(180deg);
}

.rotate-card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.rotate-card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
}

.btn-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17vh;
}

.icon-bar {
  margin: 1rem;
}

#back-arrow {
  height: 1.2rem;
}

#turn-card {
  height: 1.2rem;
}

.background {
  min-height: 80vh;
  width: 100vw;
  background-color: var(--white);
  border-radius: 26px 26px 0 0;
}

/* CARD */

.card {
  position: absolute;
  transform: translateY(-50%);
  color: var(--white);
  width: 350px;
  height: 190px;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 2;
}

.card > .front,
.card > .back {
  box-sizing: border-box;
  width: 350px;
  height: 190px;
  border-radius: 13px;
  padding: 17px;
  background: linear-gradient(90deg, #222120 0%, #2e2d2b 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.6s linear;
}

.username {
  font-size: 13px;
  margin-bottom: 3px;
}

.date {
  font-size: 9px;
}

.date span {
  font-size: 10px;
}

.waterPrint {
  position: absolute;
  left: 17px;
  bottom: 17px;
  font-size: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 17px;
  bottom: 17px;
}

.logo img {
  width: 17px;
}

.logo h4 {
  font-size: 8px;
  margin-top: 5px;
}

.qr-code {
  width: 140px;
  margin-left: 0.8rem;
}

.main {
  position: relative;
  padding: 7rem 3rem 0 3rem;
}

.main a {
  max-width: 350px;
}

a.share {
  margin: 1rem 0;
  background-color: var(--color3);
  width: 55%;
  height: 36px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}

a.share span {
  position: relative;
  top: 1px;
}

a.profile {
  position: fixed;
  bottom: 0;
  margin: 1rem 0;
  background-color: #6356d7;
  width: 90%;
  height: 36px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
}

.title {
  position: relative;
  width: 100%;
  text-align: center;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.title h3 {
  color: #787878;
  line-height: 100%;
  background-color: var(--white);
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}

.result-text {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.result-text span {
  font-size: 2.3rem;
}

.info-box {
  margin: 1.5rem 0;
}

.info {
  display: grid;
  grid-template-columns: 35% 65%;
  font-size: 1rem;
  overflow: auto;
}

.info span {
  font-size: 0.8rem;
  color: #787878;
}

.stats-grid {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px 0;
}

.stats-grid span {
  float: right;
}

.stats-grid img {
  width: 25px;
  margin-right: 15px;
}

.times {
  color: var(--grey);
  font-size: 0.8rem;
}

.stats-block {
  position: relative;
  width: 170px;
  height: 170px;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.stats-block > .front,
.stats-block > .back {
  width: 170px;
  height: 170px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  transition: transform 0.3s linear;
}

.stats-block > .front {
  justify-content: space-around;
}

.stats-block > .back {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-items: center;
  padding: 0 1rem;
  text-align: center;
}

.stats-block > .front img {
  width: 30px;
}

.stats-block > .front span {
  font-size: 1.5rem;
}

.stats-block > .back p {
  width: 100%;
  overflow-wrap: anywhere;
  align-self: baseline;
  color: var(--grey);
  font-size: 0.8rem;
  text-align: start;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.87);
  z-index: 3;
}

.share-card {
  position: relative;
  background-color: var(--white);
  opacity: 1;
  width: 286px;
  height: 390px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.close {
  position: absolute;
  top: 17px;
  right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.close img {
  width: 8px;
}

.share-card h1 {
  position: relative;
  bottom: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.share-card > img {
  width: 60%;
  margin: 0 auto;
}

.share-card > h3 {
  position: relative;
  top: 12px;
}

.link-box {
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
}

.link-box div {
  width: 80%;
}

.link-box h3 {
  font-size: 1rem;
  color: #9d9d9d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-box img {
  position: absolute;
  width: 12px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.copied {
  background-color: #4cb963;
}
