body{
    margin: 0 0 0 0;

    display: grid;
    grid-template-columns: 70% 30%;

}
/* -------------------------------------------------------------------------------------------------- */
button{
    background-color: transparent;
    
}
/* -------------------------------------------------------------------------------------------------- */
.icon{
    width: 1.55em;
  }
/* -------------------------------------------------------------------------------------------------- */


.content{
    background-color: rgb(255, 255, 255);
}

.side-bar{
    background-color: #FDBD10;
}
/* -------------------------------------------------------------------------------------------------- */
.PADDING{
    padding-left: 30px;
    padding-right: 30px;
}




.search-div{
    width: 80%;

    display: grid;
    grid-template-columns: 10% 90%;

}


.search-img{
    width: 30px;
}

.select-meal{
    width: 80%;

    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.meal-button{
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;

    justify-content: space-between;

    border: 0px solid transparent;
    border-radius: 13px;
    
}

.meal-img{
    width: 2em;
}


.main{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;

    justify-content: space-around;
}

.food-img{
    width: 100%;
}