body{
    margin: 0 0 0 0;

    display: grid;
    grid-template-columns: 70% 30%;

}
/* -------------------------------------------------------------------------------------------------- */
button{
    background-color: transparent;
    
}
/* -------------------------------------------------------------------------------------------------- */
.icon{
    width: 1.55em;
  }
/* -------------------------------------------------------------------------------------------------- */


.main{
    background-color: violet;
}

.side-bar{
    background-color: yellow;
}
/* -------------------------------------------------------------------------------------------------- */

.search-div{
    width: 80%;

    display: grid;
    grid-template-columns: 10% 90%;

}


.search-img{
    width: 30px;
}

.select-meal{
    width: 80%;

    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.meal-button{
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;

    justify-content: space-between;
}

.meal-img{
    width: 2em;
}